version: '3'
services:
 shop_api:
  build:
   context: .
  command: sh -c 'python manage.py migrate && python manage.py runserver 0.0.0.0:8001'
 
  ports:
   - "8001:8001"
  depends_on:
   - shop_data
 shop_data:
  image: 'postgres:14'
  environment:
   POSTGRES_DB: $DB_NAME
   POSTGRES_USER: $DB_USER
   POSTGRES_PASSWORD: $DB_PASSWORD
  volumes:
   - 'shop_db:/var/lib/postgresql/data'
volumes:
 shop_db: 
  
